<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title Placeholder</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            width: 100px;
            height: 20px;
        }
    </style>
</head>
<body>
<div th:utext="${body}">Body Placeholder</div>

<h1>Insert Student</h1>
<form th:action="@{/}" th:object="${student}" method="post">
    <div>
        <label for="id">Id</label>
        <input id="id" th:field="*{id}" type="text" required placeholder="Id" />
    </div>
    <div>
        <label for="name">Name</label>
        <input id="name" th:field="*{name}" type="text" required placeholder="Name" />
    </div>
    <div>
        <label for="email">E-mail</label>
        <input id="email" th:field="*{email}" type="text" placeholder="email" />
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" th:field="*{phoneNumber}" type="text" required placeholder="000-0000-0000" />
    </div>
    <div>
        <label for="major">Major</label>
        <input id="major" th:field="*{major}" type="text" required placeholder="major" />
    </div>
    <div>
        <input type="submit" value="insert" />
    </div>
</form>

<!-- Content placeholder -->
<th:block th:fragment="content"></th:block>

</body>
</html>
