<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title Placeholder</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            width: 100px;
            height: 20px;
        }
    </style>
</head>
<body>
<div th:utext="${body}">Body Placeholder</div>

<h1 th:text="${main_title}">Main Title Placeholder</h1>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone_number</td>
    </tr>
    <tr th:each="department : ${department_res}">
        <form method="post" th:action="@{/update/department}" th:object="${department}">
            <td th:text="${department.Id}">Placeholder Id</td>
            <td style="display: none">
                <input type="text" name="id" th:value="${department.Id}" />
            </td>
            <td>
                <input type="text" name="name" th:value="${department.Name}" />
            </td>
            <td>
                <input type="text" name="email" th:value="${department.Email}" />
            </td>
            <td>
                <input type="text" name="phoneNumber" th:value="${department.PhoneNumber}" />
            </td>
            <td>
                <input type="submit" value="Modify" />
            </td>
        </form>
    </tr>
</table>

<!-- Content placeholder -->
<th:block th:fragment="content"></th:block>

</body>
</html>
